@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/* Theme: Sleek and Sexy */

@layer base {
  :root {
  --background: 39 43% 90%;
  --foreground: 25 30% 10%;
  --card: 61 35% 80%;
  --card-foreground: 20 30% 15%;
  --popover: 55 20% 95%;
  --popover-foreground: 25 30% 20%;
  --primary: 30 100% 70%;
  --primary-foreground: 25 10% 10%;
  --secondary: 40 60% 70%;
  --secondary-foreground: 25 20% 20%;
  --muted: 45 10% 80%;
  --muted-foreground: 25 20% 15%;
  --accent: 30 100% 50%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 60% 50%;
  --destructive-foreground: 0 0% 100%;
  --border: 30 20% 60%;
  --input: 0 0% 100%;
  --ring: 30 100% 40%;
  --chart-1: 30 100% 60%;
  --chart-2: 200 80% 50%;
  --chart-3: 80 70% 50%;
  --chart-4: 45 100% 40%;
  --chart-5: 10 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
  --background: 25 30% 10%;
  --foreground: 60 100% 90%;
  --card: 20 20% 15%;
  --card-foreground: 60 100% 90%;
  --popover: 20 20% 20%;
  --popover-foreground: 60 100% 90%;
  --primary: 30 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 40 60% 50%;
  --secondary-foreground: 60 100% 90%;
  --muted: 25 10% 20%;
  --muted-foreground: 60 100% 80%;
  --accent: 0 60% 50%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 100% 40%;
  --destructive-foreground: 0 0% 100%;
  --border: 30 40% 20%;
  --input: 30 30% 15%;
  --ring: 30 100% 40%;
  --chart-1: 30 100% 70%;
  --chart-2: 200 80% 70%;
  --chart-3: 80 70% 70%;
  --chart-4: 45 100% 60%;
  --chart-5: 10 100% 70%;
  }
}



@layer base {
	* {
		@apply border-border outline-ring/50;
	}
}

@media(max-aspect-ratio: 16 / 9) {
	#video-player {
		width: 177.77777778vh;
		height: 120% !important
	}
}

@media(min-aspect-ratio: 16/9) {
	#video-player {
		height: 86.25vw !important
	}
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: hsl(var(--background));
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: hsl(var(--primary));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: hsl(var(--primary) / 50);
}